In [2]:
import matplotlib.pylab as plt

In [3]:
import numpy as np
import pandas as pd
import csv
from datetime import datetime
import time

In [4]:
df1 = pd.read_csv('household_power_consumption_set_1.csv', 
                   sep=',',header=0,low_memory=False)
df2 = pd.read_csv('household_power_consumption_set_2.csv', 
                   sep=',',header=0,low_memory=False)
df3 = pd.read_csv('household_power_consumption_set_3.csv', 
                   sep=',',header=0,low_memory=False)
df = df1.append(df2.append(df3)) # Append the datasets

In [5]:
#tic = time.clock()
#pd.to_datetime(df['Date']+' '+df['Time'])
#toc = time.clock()
#toc-tic #took 306s (5 minutes)

In [6]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17

In [7]:
df4 = df.apply(lambda x: pd.to_numeric(x, errors='coerce')) # This ensures that the columns are converted to numeric

In [9]:
df4['Date'] = df['Date'] # Extract the original date 
df4['Time'] = df['Time'] # Extract the original time

In [10]:
# Create a new column
df4['Datetime'] = pd.to_datetime(df['Date']+' '+df['Time']) # took 5 minutes for me

In [11]:
df5=df4[['Datetime','Global_active_power','Global_reactive_power','Voltage','Global_intensity','Sub_metering_1','Sub_metering_2','Sub_metering_3']]

In [12]:
df5.head(1000)

,Datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16 17:24:00,4.216,0.418,234.84,18.4,0,1,17
1,2006-12-16 17:25:00,5.360,0.436,233.63,23.0,0,1,16
2,2006-12-16 17:26:00,5.374,0.498,233.29,23.0,0,2,17
3,2006-12-16 17:27:00,5.388,0.502,233.74,23.0,0,1,17
4,2006-12-16 17:28:00,3.666,0.528,235.68,15.8,0,1,17
5,2006-12-16 17:29:00,3.520,0.522,235.02,15.0,0,2,17
6,2006-12-16 17:30:00,3.702,0.520,235.09,15.8,0,1,17
7,2006-12-16 17:31:00,3.700,0.520,235.22,15.8,0,1,17
8,2006-12-16 17:32:00,3.668,0.510,233.99,15.8,0,1,17
9,2006-12-16 17:33:00,3.662,0.510,233.86,15.8,0,2,16
10,2006-12-16 17:34:00,4.448,0.498,232.86,19.6,0,1,17
11,2006-12-16 17:35:00,5.412,0.470,232.78,23.2,0,1,17
12,2006-12-16 17:36:00,5.224,0.478,232.99,22.4,0,1,16
13,2006-12-16 17:37:00,5.268,0.398,232.91,22.6,0,2,17
14,2006-12-16 17:38:00,4.054,0.422,235.24,17.6,0,1,17
15,2006-12-16 17:39:00,3.384,0.282,237.14,14.2,0,0,17
16,2006-12-16 17:40:00,3.270,0.152,236.73,13.8,0,0,17
17,2006-12-16 17:41:00,3.430,0.156,237.06,14.4,0,0,17
18,2006-12-16 17:42:00,3.266,0.000,237.13,13.8,0,0,18
19,2006-12-16 17:43:00,3.728,0.000,235.84,16.4,0,0,17
20,2006-12-16 17:44:00,5.894,0.000,232.69,25.4,0,0,16
21,2006-12-16 17:45:00,7.706,0.000,230.98,33.2,0,0,17
22,2006-12-16 17:46:00,7.026,0.000,232.21,30.6,0,0,16
23,2006-12-16 17:47:00,5.174,0.000,234.19,22.0,0,0,17
24,2006-12-16 17:48:00,4.474,0.000,234.96,19.4,0,0,17
25,2006-12-16 17:49:00,3.248,0.000,236.66,13.6,0,0,17
26,2006-12-16 17:50:00,3.236,0.000,235.84,13.6,0,0,17
27,2006-12-16 17:51:00,3.228,0.000,235.60,13.6,0,0,17
28,2006-12-16 17:52:00,3.258,0.000,235.49,13.8,0,0,17
29,2006-12-16 17:53:00,3.178,0.000,235.28,13.4,0,0,17
...,...,...,...,...,...,...,...,...
970,2006-12-17 09:34:00,2.424,0.072,238.73,10.0,0,0,0
971,2006-12-17 09:35:00,1.258,0.184,239.79,6.8,0,0,0
972,2006-12-17 09:36:00,0.370,0.206,240.85,1.8,0,0,0
973,2006-12-17 09:37:00,0.786,0.202,240.73,4.8,0,0,0
974,2006-12-17 09:38:00,2.474,0.176,238.59,10.4,0,0,0
975,2006-12-17 09:39:00,2.474,0.176,238.58,10.4,0,0,0
976,2006-12-17 09:40:00,2.488,0.178,239.21,10.4,0,0,0
977,2006-12-17 09:41:00,2.486,0.178,239.29,10.4,0,0,0
978,2006-12-17 09:42:00,2.444,0.130,238.64,10.2,0,0,0
979,2006-12-17 09:43:00,2.272,0.048,239.04,9.6,0,0,0
980,2006-12-17 09:44:00,0.338,0.076,241.21,1.4,0,0,0
981,2006-12-17 09:45:00,0.290,0.000,241.10,1.4,0,0,0
982,2006-12-17 09:46:00,1.466,0.000,240.92,7.4,0,0,0
983,2006-12-17 09:47:00,2.324,0.050,239.84,9.6,0,0,0
984,2006-12-17 09:48:00,2.320,0.052,239.14,9.6,0,0,0
985,2006-12-17 09:49:00,2.308,0.052,238.59,9.6,0,0,0
986,2006-12-17 09:50:00,2.314,0.054,238.76,9.6,0,0,0
987,2006-12-17 09:51:00,2.312,0.052,239.03,9.6,0,0,0
988,2006-12-17 09:52:00,2.306,0.052,239.26,9.6,0,0,0
989,2006-12-17 09:53:00,0.444,0.000,241.82,3.0,0,0,0
990,2006-12-17 09:54:00,0.268,0.000,242.48,1.2,0,0,0
991,2006-12-17 09:55:00,1.846,0.046,240.12,8.4,0,0,0
992,2006-12-17 09:56:00,2.308,0.054,238.67,9.6,0,0,0
993,2006-12-17 09:57:00,2.290,0.056,238.04,9.6,0,0,0
994,2006-12-17 09:58:00,2.288,0.056,238.09,9.6,0,0,0
995,2006-12-17 09:59:00,2.296,0.054,238.13,9.6,0,0,0
996,2006-12-17 10:00:00,2.292,0.054,238.03,9.6,0,0,0
997,2006-12-17 10:01:00,0.370,0.000,240.26,2.4,0,0,0
998,2006-12-17 10:02:00,0.472,0.000,240.15,2.4,0,0,0
999,2006-12-17 10:03:00,3.054,0.060,237.55,13.4,0,0,18